<span>请选择图片：</span>
<input
  class="ml-5"
  type="file"
  accept=".jpg,.png"
  multiple
  (change)="handleImageSelect($event)"
/>
<div *ngIf="images.length > 0">
  <p>拖拽图片改变顺序</p>
  <div cdkDropList class="flex flex-wrap" (cdkDropListDropped)="drop($event)">
    @for (image of images; track $index) {
    <div class="block" cdkDrag>
      <img [src]="image.data" class="w-52 h-32 cursor-move" />
      <mat-form-field class="block w-48">
        <mat-label>{{ $index + 1 }} 图片名称</mat-label>
        <input matInput [(ngModel)]="image.name" />
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="deleteImage($index)">
        删除图片
      </button>
    </div>
    }
  </div>
</div>
