<form [formGroup]="columnForm" (ngSubmit)="submit()">
  <div>
    <label for="id">ID:</label>
    <input type="text" formControlName="id" />
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" formControlName="name" />
  </div>
  <div>
    <label for="length">Length:</label>
    <input type="number" formControlName="length" />
  </div>
  <div>
    <label for="type">Type:</label>
    <input type="text" formControlName="type" />
  </div>
  <button type="submit">Submit</button>
</form>
