package dao;

import java.sql.*;
import model.*;
import java.util.*;
import dao.impl.*;

//数据工厂
public class DAOFactory{
    #foreach($entity in $entities)
        //获取${entity.NameCn}的数据访问对象
        public static ${entity.capEn()}DAO get${entity.capEn()}DAOInstance(){
            return new ${entity.capEn()}DAOImpl();
        }
    #end

}