<input
  type="file"
  #fileInput
  (change)="open($event)"
  style="display: none"
  accept=".docdsl"
/>
<div class="flex">
  <button mat-flat-button color="primary" (click)="fileInput.click()">
    打开
  </button>
  <button mat-flat-button color="primary" (click)="save()">保存</button>
  <button mat-flat-button color="primary" (click)="exportAsWord()">
    导出word
  </button>
  <button mat-flat-button color="accent" (click)="reset()">重置</button>
  <button mat-flat-button color="primary" (click)="help()">使用教程</button>
</div>
<div class="flex small-img">
  <pre
    class="w-1/2 whitespace-pre-line"
    contenteditable="true"
    #preElement
    (input)="updateContent($event)"
    (keyup)="parse()"
  ></pre>
  <div
    class="w-1/2 scale-90 translate-x-0 origin-top-left docdsl-preview"
    [innerHTML]="docPreview"
  ></div>
</div>
