<div class="group block hover:bg-slate-100 cursor-pointer">
  <div class="flex">
    {{ index + 1 }}.【{{ getTypeDisplay(para.type) }}】
    <div class="hidden group-hover:block">
      <button mat-flat-button class="max-h-5" color="primary" (click)="edit()">
        编辑
      </button>
      <button
        mat-flat-button
        class="max-h-5"
        color="primary"
        (click)="delete()"
      >
        删除
      </button>
    </div>
  </div>

  <div>
    <p *ngIf="para.type === 'p'">{{ para.content }}</p>
    <h1 *ngIf="para.type === 'h1'" class="align-middle">
      {{ para.content }}
    </h1>
    <h2 *ngIf="para.type === 'h2'">{{ para.content }}</h2>
    <h3 *ngIf="para.type === 'h3'">{{ para.content }}</h3>
    <div *ngIf="para.type === 'img'">
      <p>{{ para.content.name }}</p>
      <img class="h-32" [src]="para.content.data" />
    </div>
    <div *ngIf="para.type === 'table'">
      <p>{{ para.content }}</p>
    </div>
  </div>
</div>
