<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>中文名</mat-label>
    <input formControlName="name" matInput [errorStateMatcher]="matcher" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>英文名</mat-label>
    <input formControlName="id" matInput [errorStateMatcher]="matcher" />
  </mat-form-field>
  <p>字段</p>
  <bl-field-create (created)="onFieldCreated($event)"></bl-field-create>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>中文名</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>英文名</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>类型</th>
      <td mat-cell *matCellDef="let element">
        <span [ngSwitch]="element.type">
          <span *ngSwitchCase="0">文字</span>
          <span *ngSwitchCase="1">整数</span>
          <span *ngSwitchCase="2">小数</span>
          <span *ngSwitchCase="3">日期</span>
          <span *ngSwitchCase="4">时间</span>
          <!-- Add more cases as needed -->
          <span *ngSwitchDefault>{{ element.type }}</span>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <button type="submit" mat-fab color="primary" *ngIf="form.valid">
    <mat-icon>check</mat-icon>
  </button>
</form>
